doctype html
html(lang='en' ng-app)
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js')
    

  body
   nav.container
    nav(class='navbar navbar-inverse')
     div(class='container-fluid')
      div(class='navbar-header')
       button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNavbar')
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
       a.navbar-brand(href='/') DoctorApp
      div(class='collapse navbar-collapse' id='myNavbar')
       ul(class='nav navbar-nav')
        li(class='active')
         a(href='/') 
          span(class='glyphicon glyphicon-home') Home
        li
         a(href='/') 
          span(class='glyphicon glyphicon-info-sign') About
        li(class='dropdown')
         a(class='dropdown-toggle' data-toggle='dropdown' href='/') 
          span(class='glyphicon glyphicon-user') Registration
         ul(class='dropdown-menu')
          li
           a(href='/doctor/biodata/registration') Medical Practitioner or Consultant
          li
           a(href='/') Patient
       ul(class='nav navbar-nav navbar-right')
        li 
         a(href='/catalog/authors')
          span(class='glyphicon glyphicon-phone-alt') Contact
        li(class='dropdown') 
         a(class='dropdown-toggle' data-toggle='dropdown')
          span(class='glyphicon glyphicon-log-in') Login
         ul(class='dropdown-menu')
          li
           a(href='/doctor/login') Doctor/Consultant
          li
           a(href='/') Patient
      
   aside.container
     ul.search
      li
       a(href='/doctor/areaofspecializations') Search by Specialization
      li
       a(href='/doctor/states') Search by State
      li
       a(href='/doctor/cities') Search by City
    
    
   
   div.container   
    block content
    footer
     div
      div.container-fluid
      h5 Courtesy: Jotx Solutions
    
